<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>Takjhal</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet" />
  </head>

  <body>
    @include('partials._admin-nav')

    <div class="container">
      <div class="row">
        
        
        <div class="col-lg-3">
            <div class="list-group">
                <a href="{{ route('products.index') }}" class="list-group-item">Products</a>
                <a href="#" class="list-group-item">Orders</a>
            </div>
        </div>


        <div class="col-lg-9">
          <div class="row">
              @!section('page-content')
          </div>
        </div>
      </div>
    </div>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">
          Copyright &copy; Your Website 2019
        </p>
      </div>
    </footer>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
